@model IEnumerable<car_park.WEB.Models.GarageVM>
@using GridMvc.Html

@{
    ViewBag.Title = "Garage List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Garage List</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
</p>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Garages</h4>
    </div>
    <div class="panel-body">
        @Html.Grid(Model).Columns(col =>
   {
       col.Add(x => x.Name).Titled("Name").Filterable(true).Sortable(true);
       col.Add(x => x.Address).Titled("Address").Filterable(true).Sortable(true);
       col.Add(x => x.PhoneNumber).Titled("PhoneNumber").Filterable(true).Sortable(true);
       col.Add(x => x.Email).Titled("Email").Filterable(true).Sortable(true);
       col.Add(x => x.MaxCar).Titled("MaxCar").Filterable(true).Sortable(true);
       col.Add(x => x.CarsInStock).Titled("CarsInStock").Filterable(true).Sortable(true);
       col.Add().Sanitized(false).Encoded(false).RenderValueAs(x => Menu(x));
   }).WithPaging(5)
    </div>
</div>

@helper Menu(car_park.WEB.Models.GarageVM vm)
{
    <a href="@Url.Action("Edit", "Garage", new { ID = vm.ID })">Edit</a>
    <a href="@Url.Action("Details", "Garage", new { ID = vm.ID })">Details</a>
    <a href="@Url.Action("Delete", "Garage", new { ID = vm.ID })">Delete</a>
}

